<%- include('../assets/header'); %>
    <div class="container">
        <%- include('../assets/navbar'); %>
            <div class="card p-4">
                <b>Edit Account</b>
                <hr>
                <form action="/account/edit" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" name="name" placeholder="name@example.com"
                            value="<%= name %>" required>
                        <label for="name">Name</label>
                        <button type="submit" class="btn btn-success mt-3">Save</button>
                    </div>
                </form>
            </div>
    </div>