<%- include('./headers'); %>
<h1>Chapter3</h1>
    <h3>Name :</h3>
    <% if(name === "zaky") { %>
    <p><%= name %></p>
    <%- include('./title'); %>

    <% } %> <br />
    <% for (let i = 0 ; i < friends.length ; i++) { %>
    <li><%= friends[i] %></li>
    <% } %>
  </body>
</html>
