<%- include('./assets/header'); %>

  <!-- <div class="container">
    <div class="login-container">
      <label for="">Name</label>
      <input id="username" type="text" />

      <label for="">Password</label>
      <input id="password" type="password" />

      <button id="submit">Submit</button>
    </div>
  </div> -->

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    html,
    body {
      height: 100%;
    }

    body {
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }

    .form-signin {
      max-width: 400px;
      padding: 15px;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>

  <main class="form-signin w-100 m-auto">
    <form action="/login" method="post">
      <div class="row">
        <div class="col-12 text-center">

          <img class="mb-4" src="/image/logo-binar.png" alt="" width="150" height="150">
          <!-- <h1 class="h3 mb-3 fw-normal">Please sign in</h1> -->

          <%if (failed) { %>
            <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
              Username atau password anda salah
            </div>
            <% } %>

              <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                <label for="username">Username</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                  required>
                <label for="password">Password</label>
              </div>

              <button class="w-100 btn btn-lg btn-primary mb-3" id="submit" type="submit">Sign in</button>
              <a href="/register" class="btn w-100 btn-success mb-3">Register New Account</a>
              <a href="/" class="mt-3"><span>kembali ke home</span></a>
        </div>

      </div>
    </form>
  </main>

  <!-- <script src="script/login.js"></script> -->